.input {
  outline: none;
  min-width: 240px;
  font-size: 14px;
  padding: 14px 16px;
  box-shadow: 3px 3px 0px $secondary;
  border: none;
  background-color: $white;
  &--error {
    box-shadow: 3px 3px 0px $primary;
  }
}
.text--error {
  margin-top: 8px;
  color: $primary;
  font-size: 14px;
}
