.input-box {
  min-width: 240px;

  &__input {
    width: 100%;
    outline: none;
    font-size: 14px;
    padding: 14px 16px;
    box-shadow: 3px 3px 0px $secondary;
    border: none;
    background-color: $white;
    height: 48px;
    &--error {
      box-shadow: 3px 3px 0px $primary;
    }
  }

  &__text {
    font-size: 14px;
    margin-top: 8px;
    color: $primary;
  }
}
