.recipe {
  &__result {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
  }
  &__form {
    margin-bottom: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__input {
    margin-right: 24px;
  }
  &__select {
    width: 240px;
    margin-right: 24px;
  }
  &__button {
    height: fit-content;
    display: flex;
    align-items: center;
  }
  &__icon--faPlusCircle {
    width: 24px;
    height: 24px;
  }
  &__card {
    margin-bottom: 16px;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: $media-mobile) {
  .recipe {
    &__result {
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
    &__form {
      width: fit-content;
      justify-content: flex-start;
      display: flex;
      flex-wrap: wrap;
    }
    &__input {
      max-width: 240px;
      margin-right: 16px;
      margin-bottom: 16px;
    }
    &__select {
      max-width: 240px;
      margin-right: 16px;
      margin-bottom: 16px;
    }
    &__button {
      max-width: fit-content;
    }
  }
}
