.recipe {
  &__result {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 620px;
  }
  &__form {
    margin-bottom: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__input {
    margin-right: 24px;
  }
  &__select {
    width: 240px;
    margin-right: 24px;
  }
  &__button {
    height: fit-content;
    display: flex;
    align-items: center;
  }
  &__icon--faPlusCircle {
    width: 24px;
    height: 24px;
  }
  &__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  &__card {
    margin-bottom: 16px;
    flex-basis: calc(50% - 16px);
    flex-grow: 1;
    &:nth-child(odd) {
      margin-right: 8px;
    }
    &:nth-child(even) {
      margin-left: 8px;
    }
    &:last-child {
      margin-right: 0px;
    }
    &--secondary {
      border-bottom: 3px solid $secondary;
    }
    &--primary {
      border-bottom: 3px solid $primary;
    }
    &--highlight {
      border-bottom: 3px solid $highlight;
    }
  }
}

@media (max-width: $media-mobile) {
  .recipe {
    &__result {
      align-items: center;
      width: 100%;
    }
    &__form {
      width: fit-content;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-bottom: 16px;
    }
    &__input {
      margin-right: 16px;
      margin-bottom: 16px;
      flex-grow: 1;
    }
    &__select {
      margin-right: 16px;
      margin-bottom: 16px;
      flex-grow: 1;
    }
    &__button {
      margin-right: 16px;
      margin-bottom: 16px;
    }
    &__card {
      text-align: center;
      height: fit-content;
      padding: 16px;
    }
  }
}
