.home {
  &__title {
    margin-bottom: 40px;
  }
  &__text {
    margin-bottom: 24px;
  }
  &__link {
    color: $secondary;
    cursor: pointer;
    transition: all 0.1s linear;
    width: fit-content;
    border-bottom: 1px solid $secondary;
    margin-bottom: 12px;

    &:hover {
      font-weight: bold;

      border-bottom: 3px solid $primary;
    }
  }
}
