.color {
  &__box {
    width: 48px;
    height: 48px;
    background: $gray;
    box-shadow: 3px 3px 0px $highlight;
    margin-left: 24px;
    &--red {
      background: red;
    }
    &--blue {
      background: blue;
    }
    &--green {
      background: green;
    }
  }
  &__solution {
    display: flex;
  }
}

@media (max-width: $media-mobile) {
  .color {
    &__solution {
      flex-direction: column;
      align-items: center;
      margin-top: 36px;
    }
    &__box {
      margin-left: 0;
      margin-top: 24px;
    }
  }
}
