.calculator {
  &__operation {
    display: flex;
    align-items: center;
  }
  &__select {
    margin-right: 24px;
  }
  &__button {
    margin-right: 24px;
  }
  &__equals {
    font-size: 18px;
    font-weight: bold;
    margin-right: 24px;
  }
}
