.calculator {
  &__operation {
    display: flex;
    align-items: center;
  }
  &__select {
    padding: 4px;
    border: 0;
    box-shadow: 3px 3px 0 $secondary;
    margin-right: 24px;
    outline: none;
    font-size: 18px;
  }
  &__button {
    margin-right: 24px;
  }
  &__equals {
    font-size: 18px;
    font-weight: bold;
    margin-right: 24px;
  }
}
